<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="BundleBuilder"
         name="OSGi Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.jerry.eclipseplugin.builder.BundleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="OSGiBundleNature"
         name="OSGi Bundle Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jerry.eclipseplugin.builder.OSGiBundleNature">
         </run>
      </runtime>
      <builder
            id="FelixPlugin.BundleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="FelixPlugin.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="org.jerry.felinx.plugin.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="FelixPlugin.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Jerry Development Plugin"
            id="JerryPlugin">
      </category>
      <view
            name="Felix Monitor"
            category="JerryPlugin"
            class="org.jerry.felinx.plugin.views.ControllerView"
            id="org.jerry.eclipseplugin.views.ControllerView">
      </view>
   </extension>
   <extension
     point="org.eclipse.ui.startup">
	  <startup
	        class="org.jerry.felinx.plugin.PluginStartup">
	  </startup>
  </extension>
  
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
		   id="jerry.launch"
		   delegate="org.jerry.eclipseplugin.launch.LaunchDelegate"
		   modes="run,debug"
		   name="OSGi Framework Launcher"
		   sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">        
	    </launchConfigurationType>
	</extension>



 
 <!--extension point="org.eclipse.debug.ui.launchShortcuts">
   <shortcut class="bndtools.launch.RunShortcut"
            icon="icons/bricks_run.png"
            id="bndtools.launch.runShortcut"
            label="OSGi Run"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <and>
                           <test property="org.eclipse.jdt.launching.isContainer"/>
                           <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
                           <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.jerry.eclipseplugin.builder.OSGiBundleNature"/>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
    </extension-->
</plugin>
